*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

header{
    background-color: crimson;
    padding: 20px 0;
}

header a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
}

header i{
    font-size: 25px;
    color: #fff;
    position: relative;
}
header .logo{
    width: 20%;
}
header .search{
    width: 60%;
    align-items: center;
}
header .basket{
    width: 20%;
}
header .row{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#count{
    position: absolute;
    font-size: 14px;
    background: #fff;
    color: crimson;
    padding: 3px 6px;
    border-radius: 100%;
    top: -13px;
    right: -18px;
}

#Products{
    margin-top: 2rem;
}


svg{
    width: 25%;
}

.empty-cart{
    text-align: center;
}

.img-td{
    width: 15%;
}

table img{
    width: 100%;
}

.alert_msg{
    position: fixed;
    bottom: 20px;
    border-radius: 5px;
    right: -50%;
    transition: .5s;
    z-index: 11111111;
    padding: 3px 5px;
    color: #fff;
    font-weight: bold;
    background-color: rgb(30, 144, 30);
}

.active-alert{
    right: 2%;
}

.card img{
    height: 300px;
    padding: 2rem;
    border-radius: 30px;
}
#Top{
    text-align: right;
    color: green;
}

#List{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#List .box{
    padding: 10px;
}
.menu{
    background-color: crimson;
    padding-top: 30px;
}
.menu .box{
    width: 30%;
    text-align: center;
}
.menu .category{
    display: flex;
    justify-content: space-between;
}
.menu .box i{
    background-color: #fff;
    font-size: 20px;
    padding: 15px;
    border-radius: 100%;
    cursor: pointer;
    color: crimson;
}
.menu .box p{
    color: #fff;
    font-weight: bold;
}